<div class="row my-5 ">
    <div class="col">
        <h3>Прибыль за Сегодня </h3>
        <a href="{% url 'sales' %}"><h1>{{day_profit}} &#8381;</h1></a>
    </div>
    <div class="col">     
        <h3>Прибыль за неделю</h3>
        <a href="{% url 'sales' %}"><h1>{{week_profit}} &#8381;</h1></a>
    </div>
    <div class="col">
        <h3>Прибыль за месяц</h3>
        <a href="{% url 'sales' %}"><h1>{{month_profit}} &#8381;</h1></a>
    </div>
</div>
<div class="row mt-5">
    <div class="col mt-5">
        <h3 class="mt-5">Оборот за Сегодня </h3>
        <a href="{% url 'sales' %}"><h1 >{{day_turnover}} &#8381;</h1></a>
    </div>
    <div class="col mt-5">     
        <h3 class="mt-5">Оборот за неделю</h3>
        <a href="{% url 'sales' %}"><h1>{{week_turnover}} &#8381;</h1></a>
    </div>
    <div class="col mt-5">
        <h3 class="mt-5">Оборот за месяц</h3>
        <a href="{% url 'sales' %}"><h1>{{month_turnover}} &#8381;</h1></a>
    </div>
</div>
    

